= content_for :title, "Edit #{@publication.title}"
%div{:style => "margin:0 100px"}
  %h1 Editing publication
  = render 'form'
  = link_to 'Show', @publication
  |
  \#{link_to 'Back', publications_path}
