<% content_for(:title, 'Publications') if @set_title %>

<div style="margin-left:25px">
  <h2 style="color:#F09819">Publications
  <span style="float:right" onclick="$('#publications_content').toggle('slow');$(this).find('i').toggleClass('fa-caret-right');$(this).find('i').toggleClass('fa-caret-down')"><i class="fa fa-caret-down"></i></span>
  </h2>
  <hr style="margin-top:0px">

  <div id='publications_content'>
  <% @publications.each do |publication| %>
    <div style="margin-top:20px; width:100%; background:#EEEEEE;border-radius:10px;padding:10px 10px 10px 10px" onmouseover="show_edit_tools(this)" onmouseout="hide_edit_tools(this)">
      <div style="width:100%; overflow: hidden">
        <div style="width:80%;float:left">
          <b><%= link_to publication.title, publication %></b>
          <% if signed_in? %>
          <span style="padding-left:10px;font-size:14px;vertical-align:top;display:none"><%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_publication_path(publication) %></span>
          <span style="padding-left:2px;font-size:14px;vertical-align:top;display:none"><%= link_to '<i class="fa fa-close"></i>'.html_safe, publication, method: :delete, data: { confirm: 'Are you sure?' } %></span>
          <% end %>
        </div>
        <div style="float:right">
       <b><%= publication.journal %></b>
        </div>
      </div>
      <div style="width:100%; overflow: hidden">
        <div style="">
	<%= publication.authors %> <%= "(" + publication.details + ")" if ! publication.details.empty? %>
        </div>
      </div>
    </div>
  <% end %>

  <br>

  <% if signed_in? %>
    <%= button_to 'Add Publication', new_publication_path, :class => "btn", :method => :get %>
  <% end %>

  </div><!-- End of publications_content-->
</div>
