<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="panel panel-danger">
      <div class='panel-heading'><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</div>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div><%= f.label :name %></div>
    <%= f.text_field :name, class: "form-control", placeholder: 'Ex: James Bond' %>
  </div>
  <div class="field">
    <div><%= f.label :email %></div>
    <%= f.text_field :email, class: "form-control", placeholder: 'Ex: james-bond@m16.co.uk' %>
  </div>
  <div class="field">
    <div><%= f.label :password %></div>
    <%= f.password_field :password, class: "form-control", placeholder: '******' %>
  </div>
  <div class="field">
    <div><%= f.label :password_confirmation %></div>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: '*******' %>
  </div>
  <div class="actions">
    <%= f.submit "Add User", :class => "btn btn-primary" %>
  </div>
<% end %>
