- content_for(:title, 'Users') if @set_title
%h1 Users
%table
  %thead
    %tr
      %th Name
      %th Email
      %th Password digest
      %th{:colspan => "3"}
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td ***
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
%br/
- if signed_in?
  = button_to 'Add User', new_user_path, :class => "btn", :method => :get
%br/
