<%= form_for(@uploaded_file) do |f| %>
  <% if @uploaded_file.errors.any? %>
    <div class="panel panel-danger">
      <div class='panel-heading'><%= pluralize(@uploaded_file.errors.count, "error") %> prohibited this uploaded_file from being saved:</div>
      <ul>
      <% @uploaded_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div><%#= f.label :name %></div>
    <%#= f.text_field :name %>
    <%= f.file_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
