<h1>Available Files</h1>
<hr>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uploaded_files.each do |uploaded_file| %>
      <tr>
        <td><%= uploaded_file.name %></td>
        <td><%= link_to 'Show', uploaded_file %></td>
        <td><%= link_to 'Edit', edit_uploaded_file_path(uploaded_file) %></td>
        <td><%= link_to 'Destroy', uploaded_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Upload new file', new_uploaded_file_path, :class => "btn", :method => :get %>

<br>
