- content_for :title, controller_name.humanize + ": " +  @uploaded_file.name
%p#notice= notice
%p
  %strong Name:
  = @uploaded_file.name
%p
  %strong Link:
  %code= "https://#{Settings['domain-name']}/uploads/#{@uploaded_file.name}"
  %br
  %span Copy this link and paste it in your Referee's edit page for instance.
%p
  %strong Extract:
  = @uploaded_file.extract
- if signed_in?
  = link_to 'Edit', edit_uploaded_file_path(@uploaded_file)
  |
= link_to 'Back', uploaded_files_path
