- content_for(:title, pretty_model_name) if @set_title

-# This takes care of not displaying the empty sections to users which are not logged in
- if (not empty_section?(pretty_model_name) ) || signed_in?
  .listable-content
    %h2.listable-title
      %span{:onclick => "toggle_section(\"\##{pretty_model_name.tr(' ','_')}-content\",this)"}
        %i.fa.fa-caret-down
      - if signed_in?
        %span#idContentEditable{:contenteditable => "true", :style => "font-size:inherit", :oninput => "alert('Content changed to: '+$(this).html())"}= pretty_model_name
        -# Disable linebreak for contenteditable elements (breaks formatting)
        %script $("#idContentEditable").keypress(function(e){ return e.which != 13; });
      - else
        = pretty_model_name
    %hr
    %div{:id => "#{pretty_model_name.tr(' ','_')}-content"}
      -# Skills have a slightly different rendering, so we need to fork to relevant partial here
      - if defined? skill_types
        = render partial: 'pages/listable_index_skills', locals: {skill_types: skill_types}
      - else
        = render partial: 'pages/listable_index_others', locals: {listable_enum: listable_enum, pretty_model_name: pretty_model_name}
      - if empty_section?(pretty_model_name)
        .listable-comment.no-print
          %b NB
          This section will not be displayed to visitors until you add at least one item.
      %br
      - if signed_in?
        = button_to "Add #{pretty_model_name.singularize}", new_item_path, :class => "btn btn-primary no-print", :method => :get
