<% content_for(:title, "Curriculum Vitae") %>
<div style="margin:0 50px" id="curriculum-page">

  <div align="center" style="color:#888" class="cv-name-header">
    <h1 style="margin-bottom:10px;font-size:450%"><span style="color:#F09819"><%= Settings['name']%></span> | <span id="demo" style="white-space:pre"><%=Settings['cv-title']%></span></h1>
    <p><%=Settings['address']%></p>
    <p>
        <i class="fa fa-mobile" style="font-size:22px"></i> <%=Settings['mobile-phone']%>
       • <i class="fa fa-info-circle" style="font-size:15px"></i> <%=Settings['infos']%></p>
    <p>
        <i class="fa fa-stack-overflow" style="font-size:19px"></i> <a href="http://stackoverflow.com/users/<%=Settings['social-media']['stack-overflow-id']%>"><%=Settings['social-media']['stack-overflow-name']%></a>
      • <i class="fa fa-github" style="font-size:22px"></i> <a href="https://github.com/<%=Settings['social-media']['github']%>"><%= Settings['social-media']['github']%></a>
    </p>
  </div>

<% if Settings['cv-title-alt'] %>
<script>
$(document).ready(function(){
  $("#demo").mouseover(function(){
    $(this).fadeOut('fast',function(){
    $(this).html("<%=Settings['cv-title-alt'] %>").fadeIn('fast');
    });
  });
  $("#demo").mouseout(function(){
    $(this).fadeOut('fast',function(){
    $(this).html("<%= Settings['cv-title'] %>").fadeIn('fast');
    });
  });
});
</script>
<% end %>
  
  <%= render :file => 'educations/index' %>
  <%= render :file => 'internships/index' %>
  <%= render :file => 'programming_skills/index' %>
  <%= render :file => 'awards/index' %>
  <%= render :file => 'publications/index' %>
  <%= render :file => 'referees/index' %>
  <br>
</div>

<%= render 'email_widget' %>
