<% content_for(:title, "Curriculum Vitae") %>
<div style="margin:0 50px" id="curriculum-page">

  <div align="center" style="color:#888" class="cv-name-header">
    <h1 style="margin-bottom:10px;font-size:450%"><span style="<%=main_color_tag%>">
      <%= UserSettings.full_name %></span> | <span id="demo" style="white-space:pre"><%=UserSettings.main_occupation%></span>
    </h1>
    <p><%=UserSettings.address%></p>
    <p>
        <i class="fa fa-mobile" style="font-size:26px"></i> <%=UserSettings.mobile_phone%>
       • <i class="fa fa-info-circle" style="font-size:19px"></i> <%=UserSettings.infos%>
    </p>
    <p><ul id='social-icons'>
      <% if has_setting?(:stackoverflow_id) && has_setting?(:stackoverflow_name) %>
        <li class='social-icon'><i class="fa fa-stack-overflow" style="font-size:19px"></i> <a href="http://stackoverflow.com/users/<%=UserSettings.stackoverflow_id%>"><%=UserSettings.stackoverflow_name%></a></li>
      <% end %>
      <% if has_setting?(:github_name) %>
        <li class='social-icon'><i class="fa fa-github" style="font-size:22px"></i> <a href="https://github.com/<%=UserSettings.github_name%>"><%= UserSettings.github_name%></a></li>
      <% end %>
      <% if has_setting?(:twitter_alias) %>
        <li class='social-icon'><i class="fa fa-twitter" style="font-size:22px"></i> <a href="https://twitter.com/<%=UserSettings.twitter_alias%>">@<%= UserSettings.twitter_alias%></a></li>
      <% end %>
      <% if has_setting?(:linkedIn_alias) %>
        <li class='social-icon'><i class="fa fa-linkedin-square" style="font-size:22px"></i> <a href="https://linkedin.com/in/<%=UserSettings.linkedIn_alias%>"><%= UserSettings.linkedIn_alias%></a></li>
      <% end %>
    </ul></p>
  </div>

<% if has_setting?(:alt_occupation) %> <!-- FIXME -->
<script>
$(document).ready(function(){
  $("#demo").mouseover(function(){
    $(this).fadeOut('fast',function(){
    $(this).html("<%=UserSettings.alt_occupation %>").fadeIn('fast');
    });
  });
  $("#demo").mouseout(function(){
    $(this).fadeOut('fast',function(){
    $(this).html("<%= UserSettings.main_occupation %>").fadeIn('fast');
    });
  });
});
</script>
<% end %>

<% if has_setting?(:main_color) %>
<script>
  $(document).ready(function(){
    $('.container').find('.listable-title').css("color","#<%= UserSettings.main_color %>");
  });
</script>
<% end %>
  
  <%= render :file => 'educations/index' %>
  <%= render :file => 'internships/index' %>
  <%= render :file => 'programming_skills/index' %>
  <%= render :file => 'awards/index' %>
  <%= render :file => 'publications/index' %>
  <%= render :file => 'referees/index' %>
  <br>
</div>

<%#= render :partial => 'pages/email_widget' %>
