<% content_for(:title, "Curriculum Vitae") %>

<% if has_setting?(:main_color) %>
<style type="text/css">
.listable-title{color:#<%= UserSettings.main_color %>}
h2{color:#<%= UserSettings.main_color %>}
h2 .fa-caret-down:hover{color:#<%= Paleta::Color.new(:hex, UserSettings.main_color).darken(9).hex %>;}
h2 .fa-caret-right:hover{color:#<%= Paleta::Color.new(:hex, UserSettings.main_color).darken(9).hex %>;}
</style>
<% end %>

<% if has_setting?(:secondary_color) %>
<style type="text/css">
.listable-item .line--left-content h3{color:#<%= UserSettings.secondary_color %>}
.listable-item a{color:#<%= UserSettings.secondary_color %>}
.first-line--programming-skill {color:#<%= UserSettings.secondary_color %>}
.profile{background-color:#<%= UserSettings.main_color %>}
</style>
<% end %>

<div style="margin:0 50px" id="curriculum-page">

  <div align="center" style="color:#888" class="cv-name-header">
    <h1 style="margin-bottom:10px;font-size:450%"><span style="<%=main_color_tag%>">
      <%= UserSettings.full_name %></span> | <span id="demo" style="white-space:pre"><%=UserSettings.main_occupation%></span>
    </h1>
    <p><%=UserSettings.address%></p>
    <p>
        <i class="fa fa-mobile" style="font-size:26px"></i> <%=UserSettings.mobile_phone%>
       • <i class="fa fa-info-circle" style="font-size:19px"></i> <%=UserSettings.infos%>
    </p>
    <div>
      <ul id='social-icons'>
      <% if has_setting?(:stackoverflow_id) && has_setting?(:stackoverflow_name) %>
        <li class='social-icon'><i class="fa fa-stack-overflow" style="font-size:19px"></i> <a href="http://stackoverflow.com/users/<%=UserSettings.stackoverflow_id%>"><%=UserSettings.stackoverflow_name%></a></li>
      <% end %>
      <% if has_setting?(:github_name) %>
        <li class='social-icon'><i class="fa fa-github" style="font-size:22px"></i> <a href="https://github.com/<%=UserSettings.github_name%>"><%= UserSettings.github_name%></a></li>
      <% end %>
      <% if has_setting?(:twitter_alias) %>
        <li class='social-icon'><i class="fa fa-twitter" style="font-size:22px"></i> <a href="https://twitter.com/<%=UserSettings.twitter_alias%>">@<%= UserSettings.twitter_alias%></a></li>
      <% end %>
      <% if has_setting?(:linkedIn_alias) %>
        <li class='social-icon'><i class="fa fa-linkedin-square" style="font-size:22px"></i> <a href="https://linkedin.com/in/<%=UserSettings.linkedIn_alias%>"><%= UserSettings.linkedIn_alias%></a></li>
      <% end %>
      </ul>
    </div>
  </div>

  <div class='profile' style='margin:0 0 0 50px;padding:10px;border-radius:10px;display:inline-block' align='center'>
    <h2 style='display:inline-block;vertical-align:bottom;margin:0 5px;color:white'>Profile</h2>
    <p style='font-size:22px;line-height:30px;vertical-align:bottom;display:inline-block;margin-bottom:0;color:white'><%= UserSettings.profile %></p>
    <div style='clear:both'></div>
  </div>

<% if has_setting?(:alt_occupation) %> <!-- FIXME -->
<script>
$(document).ready(function(){
  $("#demo").mouseover(function(){
    $(this).fadeOut('fast',function(){
    $(this).html("<%=UserSettings.alt_occupation %>").fadeIn('fast');
    });
  });
  $("#demo").mouseout(function(){
    $(this).fadeOut('fast',function(){
    $(this).html("<%= UserSettings.main_occupation %>").fadeIn('fast');
    });
  });
});
</script>
<% end %>

  <%= render :file => 'educations/index' %>
  <%= render :file => 'internships/index' %>
  <%= render :file => 'programming_skills/index' %>
  <%= render :file => 'awards/index' %>
  <%= render :file => 'publications/index' %>
  <%= render :file => 'referees/index' %>
  <br>
</div>

<%#= render :partial => 'pages/email_widget' %>
