<div style="margin:0 50px">

  <div align="center" style="color:#888" class="cv-name-header">
    <h1 style="margin-bottom:10px;font-size:350%"><span style="color:#F09819">Bertrand Caron</span> | PhD Student</h1>
    <p>6 rue Charles Dubois, 80000 Amiens, France</p>
    <p>
        <i class="fa fa-mobile" style="font-size:22px"></i> (+33) 6 62 04 28 09 
       • <i class="fa fa-info-circle" style="font-size:15px"></i> 22 years old</p>
    <p>
        <i class="fa fa-stack-overflow" style="font-size:19px"></i> <a href="http://stackoverflow.com/users/1680996/bertrand-caron">bertrand-caron</a>
      • <i class="fa fa-github" style="font-size:22px"></i> <a href="https://github.com/bertrand-caron">bertrand-caron</a>
    </p>
  </div>
  
  <%= render :file => 'educations/index' %>
  <%= render :file => 'internships/index' %>
  <%= render :file => 'programming_skills/index' %>
  <%= render :file => 'awards/index' %>
  <%= render :file => 'publications/index' %>
  <%= render :file => 'referees/index' %>
  <br>
</div>
