<%= form_for(@award) do |f| %>
  <% if @award.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@award.errors.count, "error") %> prohibited this award from being saved:</h2>

      <ul>
      <% @award.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control", placeholder: 'Ex: Best Australian Researcher Fellowship' %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location, class: "form-control", placeholder: 'Ex: Wee Waa (Australia)' %>
  </div>
  <%= render :partial => 'pages/description_form_field', locals: {:f => f} %>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.text_field :time, class: "form-control", placeholder: 'Ex: April 2014' %>
  </div>
  <%= render :partial => 'pages/rank_form_field', locals: {:f => f} %>
  <div class="actions">
    <%= f.submit "Add Award", class: "btn btn-primary" %>
  </div>
<% end %>
