.first-line
  .line--left-content
    %h3
      - if signed_in?
        = link_to item.title, item
      - else
        = item.title
    - if signed_in?
      .edit-tools= edit_tool_tag edit_award_path(item)
      .edit-tools= delete_tool_tag item
  .line--right-content
    %b= item.location
.second-line
  .line--left-content
    = raw item.description
  .line--right-content
    %i= item.time
