- content_for(:title, 'Awards') if @set_title

.listable-content
  %h2.listable-title
    %span{:onclick => "toggle_section('#awards_content',this)"}
      %i.fa.fa-caret-down
    Awards
  %hr
  #awards_content
    - @awards.each do |award|
      .listable-item{:onmouseout => "hide_edit_tools(this)", :onmouseover => "show_edit_tools(this)", :style => "margin-top:20px; width:100%; background:#EEEEEE;border-radius:10px;padding:10px 10px 10px 10px"}
        .first-line
          .line--left-content
            %h3= link_to award.title, award
            - if signed_in?
              .edit-tools= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_award_path(award)
              .edit-tools= link_to '<i class="fa fa-close"></i>'.html_safe, award, method: :delete, data: { confirm: 'Are you sure?' }
          .line--right-content
            %b= award.location
        .second-line
          .line--left-content
            = raw award.description
          .line--right-content
            %i= award.time
    %br
    - if signed_in?
      = button_to 'Add Award', new_award_path, :class => "btn", :method => :get
