<%= form_for(@software) do |f| %>
  <% if @software.errors.any? %>
    <div class="panel panel-danger">
      <div class='panel-heading'><%= pluralize(@software.errors.count, "error") %> prohibited this software from being saved:</div>
      <ul>
      <% @software.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div><%= f.label :name %></div>
    <%= f.text_field :name, class: "form-control", placeholder: 'Ex: Rails Cannon' %>
  </div>
  <div class="field">
    <div><%= f.label :github_link %></div>
    <%= f.text_field :github_link, class: "form-control", placeholder: 'Ex: https://github.com/john-doe/rails-cannon' %>
  </div>
  <%= render :partial => 'pages/hyperlink_form_field', locals: {:f => f} %>
  <div class="field">
    <div><%= f.label :description %></div>
    <%= f.text_area :description, class: "form-control", rows: "4" %>
  </div>
  <div class="actions">
    <%= f.submit "Add Software", class: "btn btn-primary" %>
  </div>
<% end %>
