<h1>Softwares</h1>
<hr>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Github link</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @softwares.each do |software| %>
      <tr>
        <td><%= software.name %></td>
        <td><%= software.github_link %></td>
        <td><%= software.description %></td>
        <td><%= link_to 'Show', software %></td>
        <td><%= link_to 'Edit', edit_software_path(software) %></td>
        <td><%= link_to 'Destroy', software, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Add Software', new_software_path, :class => "btn", :method => :get %>
