.author-side
  %h2#blog-title
    =link_to Blog::APP_CONFIG['blog']['title'], root_path
  = image_tag Blog::APP_CONFIG['author']['img'], id: 'author-img'
  %h2= Blog::APP_CONFIG['author']['name']
  %p.justified= Blog::APP_CONFIG['author']['biography']
  %ul#author-side-links
    %a
      %li
        = fa_icon "envelope-square"
        = link_to 'Email', "mailto:#{Blog::APP_CONFIG['author']['email']}"
    %a
      %li
        = fa_icon "github-square"
        = link_to 'Github', "https://github.com/#{Blog::APP_CONFIG['author']['github']}"
    %a
      %li
        = fa_icon "stack-overflow"
        = link_to 'Stack Overflow', "http://stackoverflow.com/users/#{Blog::APP_CONFIG['author']['stack-overflow']}"
