<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "blog/application", media: "all" %>
  <%= javascript_include_tag "blog/application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render file: 'layouts/blog/_author_side' %>

  <div id="index">
    <p id='blog-description'><%= Blog::APP_CONFIG['blog']['description'] %></p>
    <%= yield %>

    <%= render file: 'layouts/blog/_footer' %>
  </div>
</body>

</html>
