<%= form_for(@referee) do |f| %>
  <% if @referee.errors.any? %>
    <div class="panel panel-danger">
      <div class='panel-heading'><%= pluralize(@referee.errors.count, "error") %> prohibited this referee from being saved:</div>
      <ul>
      <% @referee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div><%= f.label :name %></div>
    <%= f.text_field :name, class: "form-control", placeholder: 'Ex: John Doe' %>
  </div>
  <div class="field">
    <div><%= f.label :email %></div>
    <%= f.text_field :email, class: "form-control", placeholder: 'Ex: john.doe@cornell.edu' %>
  </div>
  <div class="field">
    <div><%= f.label :title %></div>
    <%= f.text_field :title, class: "form-control", placeholder: "Ex: Lead Software Developer at Google" %>
  </div>
  <div class="field">
    <div><%= f.label :personal_page %></div>
    <%= f.text_field :personal_page, class: "form-control", placeholder: '(Optionnal) Ex: www.john-doe.net' %>
    <p class='help-block'><b>Optional</b> Link to your referee's personnal page, LinkedIn profile or whatever relevant website.</p>
  </div>
  <div class="field">
    <div><%= f.label :thumbnail_img%></div>
    <%= f.text_field :thumbnail_img, class: "form-control", placeholder: '(Optionnal) Ex: http://i.imgur.com/johnDoe.png' %>
    <p class='help-block'><b>Optional</b> Link to a photo of your referee. For better results, provide reasonable-quality, square portraits.</p>
  </div>
  <div class="field field-gender" style="">
    <div><%= f.label :gender %></div>
    <%= f.select :gender, [ ['Male',0], ['Female', 1]], {}, { :class => "form-control", :style => ''} %>
    <p class='help-block'><b>Required</b> Simply used to customized pronouns.</p>
  </div>
  <%= render :partial => 'pages/rank_form_field', :locals => {:f => f} %>
  <div class="actions">
    <%= f.submit "Add Referee", class: "btn btn-primary" %>
  </div>
<% end %>
