<%= form_for(@referee) do |f| %>
  <% if @referee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@referee.errors.count, "error") %> prohibited this referee from being saved:</h2>

      <ul>
      <% @referee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.label :personal_page %><br>
    <%= f.text_area :personal_page %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_area :gender %>
  </div>
  <div class="field">
    <%= f.label :rank %><br>
    <%= f.text_area :rank %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
