<%= form_for(@referee) do |f| %>
  <% if @referee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@referee.errors.count, "error") %> prohibited this referee from being saved:</h2>

      <ul>
      <% @referee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :personal_page %><br>
    <%= f.text_field :personal_page, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :thumbnail_img%><br>
    <%= f.text_field :thumbnail_img, class: "form-control" %>
  </div>
  <div class="field" style="width:150px">
    <%= f.label :gender %><br>
    <%= f.select :gender, [ ['Male',0], ['Female', 1]], {}, { :class => "form-control"} %>
  </div>
  <div class="field" style="width:75px">
    <%= f.label :rank %><br>
    <%= f.number_field :rank, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Add Referee", class: "btn btn-primary" %>
  </div>
<% end %>
