%div{:style => "width:80%;float:left"}
  %h3{:id => item.name.gsub(" ",""), :style => "margin-bottom:0;padding-top:10px;display:inline;color:#428bca"}
    - if signed_in?
      = link_to item.name, item
    - else
      = item.name
  - if signed_in?
    .edit-tools= edit_tool_tag edit_referee_path(item)
    .edit-tools= delete_tool_tag item
  %p{:style => "margin-bottom:0"}= item.title
  %div{:style => "font-size:9px;float:left;width:80%"}
    %ul{:style => "list-style-type:none;font-size:9px;margin:0;padding:0;"}
      %li
        %a{:href => "mailto:#{item.email}"}
          Contact #{item.gender_pronoun(:object)}
      - if item.personal_page.present?
        %li
          %a{:href => item.personal_page} Browse Personnal page
      - if item.letter_path.present?
        %li
          %a{:href => item.letter_path} What #{item.gender_pronoun(:subject)} wrote about me
%div{:align => "right", :clear => "both", :style => "padding-top:0"}
  %img{:style => "border-radius:50%", :height => "62", :src => item.thumbnail_img}/
%div{style: 'clear:both'}
