%div{:style => "width:80%;float:left", onmouseenter: "#{%q(trigger_img_popover(this, 'toggle')) if item.comment}", onmouseleave: "#{%q(trigger_img_popover(this,'toggle')) if item.comment}"}
  %h3{:id => item.name.gsub(" ",""), :style => "margin-bottom:0;padding-top:10px;display:inline;color:#428bca"}
    - if signed_in?
      = link_to item.name, item
    - else
      = item.name
  - if signed_in?
    .edit-tools= edit_tool_tag edit_referee_path(item)
    .edit-tools= delete_tool_tag item
  %p{:style => "margin-bottom:0"}= item.title
  .bottom-links
    %ul
      %li
        %a{:href => "mailto:#{item.email}"}
          Contact #{item.gender_pronoun(:object)}
      - if item.personal_page.present?
        %li
          %a{:href => item.personal_page} Browse Personnal page
      - if item.uploaded_file_id.present?
        %li
          %a{:href => item.uploaded_file.absolute_url} What #{item.gender_pronoun(:subject)} wrote about me
%div{:align => "right", :clear => "both", :style => "padding-top:0"}
  %img{:style => "border-radius:50%", :height => "62", :src => item.thumbnail_img, :'data-content' => "#{item.comment}", :'data-title' => "What  #{item.gender_pronoun(:subject)} says about me", :'data-placement' => 'left' , :onmouseover => "#{%q($(this).popover('toggle')) if item.comment}", :onmouseout => "#{%q($(this).popover('toggle')) if item.comment}"}/
%div{style: 'clear:both'}
