<% content_for(:title, 'Referees') if @set_title %>

<div style="margin-left:25px">
  <h2 style="color:#F09819">Referees</h2>
  <hr style="margin-top:0px">
  
  <% @referees.each do |referee| %>
    <div style="margin-top:20px; width:100%; background:#EEEEEE;border-radius:10px;padding:10px 10px;height:82px" onmouseover="show_edit_tools(this)" onmouseout="hide_edit_tools(this)" >
      <div style="width:80%;float:left">
        <h3 id="<%= referee.name.gsub(" ","") %>" style="margin-bottom:0;padding-top:10px;display:inline"><%= link_to referee.name, referee %></h3>
          <% if signed_in? %>
          <span style="padding-left:10px;font-size:14px;vertical-align:top;display:none"><%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_referee_path(referee) %></span>
          <span style="padding-left:2px;font-size:14px;vertical-align:top;display:none"><%= link_to '<i class="fa fa-close"></i>'.html_safe, referee, method: :delete, data: { confirm: 'Are you sure?' } %></span>
          <% end %>
        <p style="margin-bottom:0"><%= referee.title %></p>
        <div style="font-size:9px;float:left">
          <ul style="list-style-type:none;font-size:9px;margin:0;padding:0;">
            <li style="float:left;margin-left:2px"><a href="mailto:<%= referee.email%>">Contact <%= referee.gender == 0 && "him" || "her" %></a> |</li>
            <li style="width:400px"><a href="<%= referee.personal_page %>"> Browse Personnal page</a></li>
          </ul>
        </div>
      </div>
      <div align="right"  style="padding-top:0" clear="both">
        <img src="<%= referee.thumbnail_img %>" height="62" style="border-radius:7px">
      </div>
    </div>
  <% end %>
  
  <br>
  
  <% if signed_in? %>
    <%= button_to 'Add Referee', new_referee_path, :class => "btn", :method => :get%>
  <% end %>
</div>
