- content_for(:title, 'Referees') if @set_title

.listable-content
  %h2.listable-title
    %span{:onclick => "toggle_section('#referees_content',this)"}
      %i.fa.fa-caret-down
    Referees
  %hr
  #referees_content
    - @referees.each do |referee|
      .listable-item{:onmouseout => "hide_edit_tools(this)", :onmouseover => "show_edit_tools(this)", :style => "height:102px"}
        %div{:style => "width:80%;float:left"}
          %h3{:id => referee.name.gsub(" ",""), :style => "margin-bottom:0;padding-top:10px;display:inline"}= link_to referee.name, referee
          - if signed_in?
            .edit-tools= edit_tool_tag edit_referee_path(referee)
            .edit-tools= delete_tool_tag referee
          %p{:style => "margin-bottom:0"}= referee.title
          %div{:style => "font-size:9px;float:left;width:80%"}
            %ul{:style => "list-style-type:none;font-size:9px;margin:0;padding:0;"}
              %li
                %a{:href => "mailto:#{referee.email}"}
                  Contact #{referee.gender == 0 && "him" || "her"}
              %li
                %a{:href => referee.personal_page} Browse Personnal page
        %div{:align => "right", :clear => "both", :style => "padding-top:0"}
          %img{:style => "border-radius:50%", :height => "62", :src => referee.thumbnail_img}/
    %br/
    - if signed_in?
      = button_to 'Add Referee', new_referee_path, :class => "btn", :method => :get

