<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @referee.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @referee.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @referee.title %>
</p>

<p>
  <strong>Personal Page:</strong>
  <%= @referee.personal_page %>
</p>
  <strong>Gender:</strong>
  <%= @referee.gender %>
</p>

<% if signed_in? %>
  <p>
    <strong>Rank:</strong>
    <%= @referee.rank %>
  </p>
  <%= link_to 'Edit', edit_referee_path(@referee) %> |
<% end %>
<%= link_to 'Back', referees_path %>
