<%= form_for(@internship) do |f| %>
  <% if @internship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@internship.errors.count, "error") %> prohibited this internship from being saved:</h2>

      <ul>
      <% @internship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.label :hyperlink %><br>
    <%= f.text_field :hyperlink %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :report_path %><br>
    <%= f.text_field :report_path %>
  </div>
  <div class="field">
    <%= f.label :laboratory %><br>
    <%= f.text_area :laboratory %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_area :location %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.text_area :duration %>
  </div>
  <div class="field">
    <%= f.label :rank %><br>
    <%= f.text_area :rank %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
