- content_for(:title, 'Internships') if @set_title
.listable-content
  %h2.listable-title
    %span{:onclick => "toggle_section('#internships_content',this)"}
      %i.fa.fa-caret-down
    Internships
  %hr
  #internships_content
    - @internships.each do |internship|
      .listable-item{:onmouseout => "hide_edit_tools(this)", :onmouseover => "show_edit_tools(this)"}
        .first-line
          .line--left-content
            %h3= link_to internship.title, internship
            = link_to "Supervisor: "+Referee.find(internship.referee_id).name, "#"+Referee.find(internship.referee_id).name.gsub(" ","")
            - if signed_in?
              .edit-tools= edit_tool_tag edit_internship_path(internship)
              .edit-tools= delete_tool_tag internship
          .line--right-content
            %b= internship.location
        .second-line
          .line--left-content
            %i= internship.laboratory
          .line--right-content
            %i= internship.duration
        .third-line
          = raw internship.description
        - if not internship.report_path.empty?
          .bottom-line
            = link_to "View Report (PDF)", internship.report_path
    %br/
    - if signed_in?
      = button_to 'Add Internship', new_internship_path, :class => "btn", :method => :get
