<h1>Internships</h1>
<hr>

<% if false %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Hyperlink</th>
      <th>Description</th>
      <th>Report path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @internships.each do |internship| %>
      <tr>
        <td><%= internship.title %></td>
        <td><%= internship.hyperlink %></td>
        <td><%= internship.description %></td>
        <td><%= internship.report_path %></td>
        <td><%= link_to 'Show', internship %></td>
        <td><%= link_to 'Edit', edit_internship_path(internship) %></td>
        <td><%= link_to 'Destroy', internship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% @internships.each do |internship| %>
  <div style="margin-top:20px;margin-botoom:20px; width:100%; background:#EEEEEE;border-radius:10px">
    <div style="width:100%; overflow: hidden">
      <div style="width:80%;float:left">
        <b><%= internship.title %></b>
      </div>
      <div style="float:right">
     <b>Paris (France)</b>
      </div>
    </div>
    <div style="width:100%; overflow: hidden">
      <div style="float:left">
        <i>Laboratoire de Biochimie Théorique</i>
      </div>
      <div style="float:right">
        <i>Feb-Juil. 2014</i>
      </div>
    </div>
    <div style="width:80%">
      <%= internship.description%>
    </div>
  </div>
<% end %>

<br>

<%= button_to 'Add Internship', new_internship_path, :class => "btn", :method => :get %>

<br>
