<p id="notice"><%= notice %></p>

  <h2>Internship: <%= @internship.title %></h2>
  <hr>

<div style="margin:0 0 0 50px">
<p>
  <strong>Hyperlink:</strong>
  /internships/<%= @internship.hyperlink %>
</p>

<p>
  <strong>Description:</strong>
  <br>
  <%= raw @internship.description %>
</p>

<p>
  <strong>Report path:</strong>
  <%= @internship.report_path %>
</p>

<p>
  <strong>Location:</strong>
  <%= @internship.location %>
</p>

<p>
  <strong>Laboratory:</strong>
  <%= @internship.laboratory %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @internship.duration %>
</p>


<% if signed_in? %>
  <p>
    <strong>Rank:</strong>
    <%= @internship.rank %>
  </p>
  </div>
  <%= link_to 'Edit', edit_internship_path(@internship) %> |
<% else %>
  </div>
<% end %>
<%= link_to 'Back', internships_path %>
