= form_for(@education) do |f|
  - if @education.errors.any?
    .panel.panel-danger
      .panel-heading
        = pluralize(@education.errors.count, "error")
        prohibited this education from being saved:
      %ul
        - @education.errors.full_messages.each do |message|
          %li= message
  .field
    %div= f.label :institution
    = f.text_field :institution, class: "form-control", placeholder: "Ex: University of Sao Paulo, Brazil"
  .field
    %div= f.label :institution_location
    = f.text_field :institution_location, class: "form-control", placeholder: "Ex: Paris (France)"
  .field
    %div= f.label :degree
    = f.text_field :degree, class: "form-control", placeholder: "Ex: Bachelor of Science in Physics"
  .field
    %div= f.label :year
    = f.text_field :year, class: "form-control", placeholder: "Ex: 2011-2013"
  = render :partial => 'pages/description_form_field', :locals => {:f => f}
  = render :partial => 'pages/rank_form_field', :locals => {:f => f}
  .actions
    = f.submit "Add Education", class: "btn btn-primary"
