.first-line
  .line--left-content
    %h3= link_to item.institution, item
    - if signed_in?
      .edit-tools= edit_tool_tag edit_education_path(item)
      .edit-tools= delete_tool_tag item
  .line--right-content
    %b= item.institution_location
.second-line
  .line--left-content
    %i.big-text= item.degree
  .line--right-content
    %i= item.year
.third-line
  = raw item.description
