<% content_for :title, controller_name.capitalize.singularize + ": " +  @education.institution%>

<p id="notice"><%= notice %></p>

<p>
  <strong>Institution:</strong>
  <%= @education.institution %>
</p>

<p>
  <strong>Institution location:</strong>
  <%= @education.institution_location %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @education.degree %>
</p>

<p>
  <strong>Year:</strong>
  <%= @education.year %>
</p>

<p>
  <strong>Description:</strong>
  <%= @education.description %>
</p>

<% if signed_in? %>
  <br>
  <div class="panel panel-info">
    <div class="panel-heading">
      Admin Settings
    </div>
    <div class="panel-body">
      <p>
        <strong>Rank:</strong>
        <%= @education.rank %>
      </p>
    </div>
  </div>
  <%= link_to 'Edit', edit_education_path(@education) %> |
<% end %>
<%= link_to 'Back', educations_path %>
