<%= form_for(@programming_skill) do |f| %>
  <% if @programming_skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@programming_skill.errors.count, "error") %> prohibited this programming_skill from being saved:</h2>

      <ul>
      <% @programming_skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control"  %>
  </div>
  <div class="field" style="width:150px">
    <%= f.label :skill_type %><br>
    <%= f.select :skill_type, [ ['Languages',0], ['Workflow Tools', 1]], {}, { :class => "form-control"} %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control", rows: "2"  %>
  </div>
  <div class="field">
    <%= f.label :details %><br>
    <%= f.text_area :details, class: "form-control", rows: "10"  %>
  </div>
  <div class="field">
    <%= f.label :hyperlink %><br>
    <%= f.text_field :hyperlink, class: "form-control" %>
  </div>
  <div class="field" style="width:75px">
    <%= f.label :rank %><br>
    <%= f.number_field :rank, class: "form-control" %>
  </div>
  <div class="field" style="width:75px">
    <%= f.label :ranking %><br>
    <%= f.number_field :ranking, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Add Programming Skill", class: "btn btn-primary"%>
  </div>
<% end %>
