- content_for(:title, 'Programming Skills') if @set_title

.listable-content
  %h2.listable-title
    %span{:onclick => "toggle_section('#programming_skills_content',this)"}
      %i.fa.fa-caret-down
    Programming Skills
  %hr
  #programming_skills_content
    - @programming_skills.each do |skill|
      .listable-item{:onmouseout => "hide_edit_tools(this)", :onmouseover => "show_edit_tools(this)", :style => "height:auto;clear:both;padding-left:20px"}
        %div{:style => 'display:inline;float:left;font-size:23px;line-height:30px;color:#428bca'}
          = content_tag 'i', nil,:class => "icon-#{skill.icon}"
          = link_to skill.title, skill
          %span{:style => "color:#428bca;margin-left:20px;font-size:18px;height:30px"}
            = raw (1..5).reduce(""){|acc,e| acc + "<i class='fa fa-star" + (e <= skill.ranking ? '' : '-o') + "'></i>"}
            - if signed_in?
              .edit-tools{:style => "padding-left:10px"}= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_programming_skill_path(skill)
              .edit-tools{:style => "padding-left:2px"}= link_to '<i class="fa fa-close"></i>'.html_safe, skill, method: :delete, data: { confirm: 'Are you sure?' }
        %p{:align=> "right", :style => "padding-top:5px"}= raw skill.description
    %br/
    - if signed_in?
      = button_to 'Add Programming Skill', new_programming_skill_path, :class => "btn", :method => :get
  / End of programming_skills_content
