<p id="notice"><%= notice %></p>

<div style="margin:0 75px">
  <h1><%= @programming_skill.title %> <%= "Programming Language" if @programming_skill.skill_type == 0 %></h1>
  <hr>


  <div style="margin-left:50px">
  <p>
    <strong>Description:</strong>
    <%= raw @programming_skill.description %>
  </p>

  <hr>
  <h3>Details<h3>
    <div style="background:#EEEEEE;border-radius:10px;padding:10px; margin-top:10px" class="markdown-jumbotron">
      <%= markdown(@programming_skill.details) %>
    </div>

  <% if signed_in? %>
    <p>
      <strong>Skill Type:</strong>
      <%= @programming_skill.skill_type %>
    </p>
    <p>
      <strong>Hyperlink:</strong>
      <%= @programming_skill.hyperlink %>
    </p>
    <p>
      <strong>Rank:</strong>
      <%= @programming_skill.rank %>
    </p>
  <% end %>

  <p>
    <strong>Ranking:</strong>
    <%= @programming_skill.ranking %> / 5
  </p>
  </div>
</div>

<%= link_to 'Edit', edit_programming_skill_path(@programming_skill) %> |
<%= link_to 'Back', programming_skills_path %>
