<!DOCTYPE html>
<html>
<head>
  <title><%= UserSettings.full_name %> - <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= meta_description_tag %>
  <%= meta_keywords_tag %>
  <%= render 'layouts/custom_style' %>
</head>
<body>

  <%= render 'layouts/navbar' %>

  <div class="container">
    <%= render 'layouts/notice' %>
    <%= render 'layouts/breadcrumbs' %>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </div>

</body>
</html>
