<!DOCTYPE html>
<html>
<head>
  <title><%= Settings['name'] %> - <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header' %>
  <!-- Breadcrumbs -->
  <div class="container">
    <div style="margin-top:25px;display:inline-block">
      <%= render_breadcrumbs('',{:active_class => 'active'}) %>
    </div>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </div>

</body>
</html>
