<!DOCTYPE html>
<html>
<head>
  <title><%= UserSettings.full_name %> - <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= meta_description_tag %>
  <%= meta_keywords_tag %>
  <%= render 'layouts/google_analytics' if Settings['google-analytics-id'].to_s != '' %>
</head>
<body>
  <%= render 'layouts/navbar' %>
  <div class="container" style='width:100%;padding:0;margin:0'>
    <%= render 'layouts/notice' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
