<!DOCTYPE html>
<html>
<head>
  <title><%= Settings['name'] %> - <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container" style='width:100%;padding:0;margin:0'>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
